[TYPECHECK]
# Django Style define SUCCESS/WARNING/etc. con setattr en runtime.
generated-members=SUCCESS,WARNING,ERROR,NOTICE,HTTP_INFO,HTTP_SUCCESS,HTTP_REDIRECT,HTTP_NOT_MODIFIED,HTTP_BAD_REQUEST,HTTP_NOT_FOUND,MIGRATE_HEADING,MIGRATE_LABEL
